.AddCommentForm {
  margin-top: 15px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--primary-color);
}

.input {
  flex-grow: 1;
}
